.navegador{
    display: grid;
    padding: 2%;
   
}
.iconm{
    display: none;
}
ul>div>label{
    display: none;
}

.nav-pills{
    
    display: grid;
    grid-template-columns: auto auto auto auto auto auto auto;
}

a{
    text-decoration: none;
}
.nav-item{
    padding: 0%;
}

@media all and (max-width: 900px) and (min-width: 200px) {
   header,
   .navegador{
       border-radius: 10px;
       background-color: wheat;
       height:auto;
      
      
   }
  
   .iconm{
      
    width: 40px;
    display: inline-flex;
   margin-left: 20px;
   margin-top: 20px; 
   
   }
   .iconmO{
    width: 40px;
    display: inline-flex;
   margin-left: 20px;
   margin-top: 20px; 
    width: 60px;

   }
   label{
       display: flex;
    margin-left: 20px; 
   }
    .nav-pills {
    padding: 0;
    margin: 0;
    display: grid;
    grid-template-columns: auto ;
    
    
    
    }
    .nav-item{
        margin: 10px 0px 0px 0px;
        display: grid;
        border-bottom:3px solid rgb(206, 138, 206);
    }
}