.contenido{
    margin-top: 20px;
    display: grid;
    grid-template-areas: "item item item2"
                            "item4 item3 item3";
margin-left: 25px;
margin-right: 25px;

}

.item{
 
    grid-area: item;
    
    
}
.item2{
    grid-area: item2;
    
}
.item3{
    grid-area: item3;
   
}
.item4{
    grid-area: item4;
    width: 300px;
}

div>p{

    font-size: 22px;
}

