* {
    margin: 0;
    padding: 0;
}

main > section {
    margin-top: 50px;
    margin-bottom: 50px;
}

.reservarmesa {
    box-sizing: border-box;
    margin: 0;
}

.reservar {
    width: 600px;
    max-width: 500px;
    margin: 0px auto;
    border-radius: 5px;
    background: #444444;
    padding: 10px;
    color: #fff;
}

.contenedorinputs {
    padding: 10px 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    font-size: 18px;
}

.opcion {
    margin-top: 5px;
    border: 1px solid #fff;
    width: 410px;
}

input {
    margin-bottom: 15px;
    padding: 10px;
    font-size: 15px;
    border-radius: 3px;
}

.boton {
    text-align: center;
    width: 100%;
    margin-top: 8px;
    border-radius: 5px;
    background: #c2bebe;
}

.reservarmesa {
    background-image: url(../galeria/imagenes/img3.jpg);
    background-color: rgb(100, 100, 100);
    background-blend-mode: soft-light;
    height: 600px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
/*
.reservarevento > h2 {
    display: flex;
    height: 500px;
    width: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    color: #fff;
    font-size: 40px;
}